.outer-border {
    width: 900px;
    height: 650px;
    padding: 100px;
    text-align: center;
    /* border: 10px solid #673AB7; */
    margin-left: 10%;
    background:transparent url("../img/certificate2.jpg") no-repeat center center;
    background-size: 100% 100%;
}

.genuty{
    color: #673AB7 ;
}

.inner-dotted-border {
    width: 750px;
    height: 500px;
    padding: 10px;
    text-align: center;
    /* border: 5px solid #673AB7;
    border-style: dotted; */
}

.certification{
    font-size:30px; font-weight:bold;    color: #d19f2b;
    margin-left: auto;
    padding-left: auto;
}
.course{
    font-size:30px; font-weight:bold;    color: #d19f2b;
}

.date{
    padding-left: 0px;
    margin-left: 135px;
    /* display: flex;
    justify-content: space-around; */
    text-align: start ;
}

.certify{
    font-size:20px;
    /* padding-right: 100px; */
}

.name{
    font-size:30px;    color: green;
}

.fs-30{
    font-size:30px;
}

.fs-20{
    font-size:20px;
}